<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instagram.story.model.mapper.StoryMapper">

    <!-- insertStory 스토리 생성 유저 아이디 스토리이미지 생성일자
    story_id를 작성할 경우 클라이언트가 작성한 스토리 아이디를 넘겨준다.
    그런데 프론트엔드에서 백엔드로 받아온 스토리 아이디가 없으며, story_id 측이 int일 경우
    story_id 값은 null 대신 0 값이 자동으로 추가
    story_id를 제거하고 자동으로 번호 설정되도록 하기!
    -->
    <insert id="insertStory" parameterType="Story" useGeneratedKeys="true" keyProperty="storyId" keyColumn="story_id">
        INSERT INTO stories (user_id, story_image, created_at, expires_at)
        VALUES (#{userId},#{storyImage},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP + INTERVAL '24 hours')
    </insert>
    <select id="selectAllStories" resultType="Story">
        select story_id, user_id, story_image, created_at, expires_at, user_name, user_avatar
        from active_stories_view
    </select>
    <select id="selectStoriesByUserId" resultType="Story" parameterType="int">
        select story_id, user_id, story_image, created_at, expires_at, user_name, user_avatar
        from active_stories_view
        where user_id = #{userId}
        order by created_at asc
    </select>

    <select id="selectStoryById" resultType="Story" parameterType="int">
        select story_id, user_id, story_image, created_at
        from stories
        where story_id = #{storyId}
    </select>


    <select id="selectStoriesByStoryId" resultType="Story" parameterType="int">
        select story_id, user_id, story_image, created_at, expires_at, user_name, user_avatar
        from active_stories_view
        where story_id = #{storyId}
    </select>


    <update id="updateStoryImage" parameterType="Story">
        UPDATE stories
        SET story_image = #{storyImage}
        WHERE story_id = #{storyId}
    </update>
    <!-- 만료된 스토리는 삭제가 되는 것일까? 안보이고 보관처리가 되는 것일까 ?-->

    <delete id="deleteStory" parameterType="int">
        delete from stories
        where user_id = #{userId} and story_id = #{storyId}
    </delete>

</mapper>